.overflow-hidden {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start !important;
}

.align-baseline {
  align-items: baseline !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.transition {
  transition: all 0.3s;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.text-middle {
  font-size: 18px;
}

.text-big {
  font-size: 24px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-gray {
  color: rgba(255, 255, 255, 0.56);
}

.circle-bg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.circle-bg--big {
  top: -45px;
  width: 147px;
  height: 147px;
}

@keyframes neon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spline {
  0% {
    opacity: .8;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .8;
  }
}
